/*
|=================================================
| Indexed [added following css]
|=================================================
| * style.css
| * stk-ftr-in-btm.css
| * nav.css
| * sidebar.css
| * footer.css
| * preloader.css
|=================================================
*/


/*
|==============
| * global
|==============
*/
:root {
   --darkblue: #1a237e;
   --hamburger-color: #0275d8;
}

* {
   margin: 0;
   padding: 0;
}

/*
|==============
| * body
|==============
*/
body,
html {
   width: 100%;
   height: 100%;
}

body {
    visibility: hidden;
   font-family: panton_regular;
}


/*
|==============================================================================
| * style.css 
|==============================================================================
*/
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
a:active{
	text-decoration:link;
}
.bg-black-op75 {
   background: rgba(0, 0, 0, 0.75);
}

.bg-white-op75 {
   background: hsla(0, 0%, 100%, 0.75);
}
a.disabled{opacity:.4;}

@media (min-width: 768) {
   .w-md-25 {
      width: 25% !important;
   }

   .small-md {
      font-size: 0.875em;
   }
}

.panton-r {
   font-family: panton_regular;
}

.panton-sb {
   font-family: panton_semibold;
}

.panton-b {
   font-family: panton_bold;
}

.panton-eb {
   font-family: panton_extrabold;
}

.text-indigo {
   color: var(--bs-indigo);
}

.text-purple {
   color: var(--bs-purple);
}

.text-orange {
   color: var(--bs-orange);
}

.text-teal {
   color: var(--bs-teal);
}

.text-pink {
   color: var(--bs-pink);
}

.text-darkblue {
   color: var(--bs-darkblue);
}

.bg-indigo {
   background-color: var(--bs-indigo);
}

.bg-purple {
   background-color: var(--bs-purple);
}

.bg-orange {
   background-color: var(--bs-orange);
}

.bg-teal {
   background-color: var(--bs-teal);
}

.bg-pink {
   background-color: var(--bs-pink);
}

.bg-darkblue {
   background: var(--bs-darkblue);
}

.purple-grad {
   background: -webkit-gradient(linear,
         left top,
         right bottom,
         from(#fff),
         to(#9ebfde));
   background: linear-gradient(to right bottom, #fff, #9ebfde);
}

.filter-gray {
   filter: grayscale(100%);
}

.opacity25 {
   opacity: 0.25;
}

.vis-hid {
   visibility: hidden;
}

.vis-vis {
   visibility: visible;
}

/* height */
.vh-100 {
   height: 100vh;
}

.vh-75 {
   height: 75vh;
}

.text-justify {
   text-align: justify !important;
}

.bg-darkblue {
   background: #1a237e;
}

.text-darkblue {
   color: #1a237e;
}

.is-sticky{
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) !important;
 }






/*
|==============================================================================
| * stk-ftr-in-btm.css 
|==============================================================================
*/
body {
   display: flex !important;
   flex-direction: column !important;
}

/*main {
	/* By setting flex-grow to 1, the main content will take up 
	all of the remaining space on the page (the other elements have flex-grow: 0 and won't contest the free space). */
/* 1 flex-grow, 0 flex-shrink, auto flex-basis *
	flex: 1 0 auto !important;
	}
	
	header,footer {
	/* We want the header to have a static height - it will always take up just as much space as it needs.  */
/* 0 flex-grow, 0 flex-shrink, auto flex-basis *
	flex: 0 0 auto !important;
	}
	*/

header,
main,
footer {
   overflow-x: hidden;
   overflow-y: auto;
   /*flex: flex-grow, flex-shrink, flex-basic;*/
   /*
	set flex-grow: 1; for main only and flex-grow:0; for header and footer
	flex-shrink :0; and flex-basic: auto; for header, footer and, main
	*/
   flex: 0 0 auto;
}

main {
   flex-grow: 1 !important;
}

.cta {
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), 50%), url("https://anshumemorial.in/test/m/assets/img/web/laptop1.jpg") fixed center 100%/cover
}

.btn.btn-grad-blue {
   background: linear-gradient(119.54deg, #000046 0%, #1CB5E0 100%);
   background: -webkit-linear-gradient(119.54deg, #1CB5E0, #000046);
   color: #fff;
}

.btn.btn-grad-blue:hover,
.btn.btn-grad-blue:active,
.btn.btn-grad-blue:focus {
   background: linear-gradient(119.54deg, #000046 10%, #1CB5E0 60%);
   background: -webkit-linear gradient(119.54deg, #1CB5E0, #000046);
}

.bg-grad-blue {
   background: linear-gradient(119.54deg, #000046 10%, #1CB5E0 60%);
   background: -webkit-linear gradient(119.54deg, #1CB5E0, #000046);
}

.copyright {
   background: rgba(0, 0, 0, 0.1);
}

.box .card {
   width: 100%;
   max-width: 600px;
}

main{
marging-top:55px !important;
}










/*
|==============================================================================
| * nav.css 
|==============================================================================
*/

.hamburger {
   padding: 10px;
   display: inline-block;
   cursor: pointer;
   -webkit-transition-property: opacity, -webkit-filter;
   transition-property: opacity, -webkit-filter;
   transition-property: opacity, filter;
   transition-property: opacity, filter, -webkit-filter;
   -webkit-transition-duration: 0.15s;
   transition-duration: 0.15s;
   -webkit-transition-timing-function: linear;
   transition-timing-function: linear;
   font: inherit;
   color: inherit;
   text-transform: none;
   background-color: transparent;
   border: 0;
   margin: 0;
   overflow: visible;
}

/*.hamburger:hover {
	opacity: 0.7; 
	}
	.hamburger.is-active:hover {
	opacity: 0.7; 
	}*/
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
   background-color: var(--hamburger-color);
}

.hamburger-box {
   width: 24px;
   height: 12px;
   display: inline-block;
   position: relative;
}

.hamburger-inner {
   display: block;
   top: 50%;
   margin-top: 0px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
   width: 24px;
   height: 2px;
   background-color: var(--hamburger-color);
   border-radius: 4px;
   position: absolute;
   -webkit-transition-property: -webkit-transform;
   transition-property: -webkit-transform;
   transition-property: transform;
   transition-property: transform, -webkit-transform;
   -webkit-transition-duration: 0.15s;
   transition-duration: 0.15s;
   -webkit-transition-timing-function: ease;
   transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
   content: "";
   display: block;
}

.hamburger-inner::before {
   top: -8px;
}

.hamburger-inner::after {
   bottom: -8px;
}

/*
	For more design go - https://github.com/jonsuh/hamburgers/blob/master/dist/hamburgers.css
	*/

/* Arrow Alt */
.hamburger--arrowalt .hamburger-inner::before {
   -webkit-transition: top 0.1s 0.1s ease,
      -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
   transition: top 0.1s 0.1s ease,
      -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
   transition: top 0.1s 0.1s ease,
      transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
   transition: top 0.1s 0.1s ease,
      transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1),
      -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt .hamburger-inner::after {
   -webkit-transition: bottom 0.1s 0.1s ease,
      -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
   transition: bottom 0.1s 0.1s ease,
      -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
   transition: bottom 0.1s 0.1s ease,
      transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
   transition: bottom 0.1s 0.1s ease,
      transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1),
      -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt.is-active .hamburger-inner::before {
   top: 0;
   /*transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);*/
   -webkit-transform: translate3d(-6px, -5.5px, 0) rotate(-45deg) scale(0.7, 1);
   transform: translate3d(-6px, -5.5px, 0) rotate(-45deg) scale(0.7, 1);
   -webkit-transition: top 0.1s ease,
      -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
   transition: top 0.1s ease,
      -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
   transition: top 0.1s ease,
      transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
   transition: top 0.1s ease,
      transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22),
      -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt.is-active .hamburger-inner::after {
   bottom: 0;
   /*transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);*/
   -webkit-transform: translate3d(-6px, 5.5px, 0) rotate(45deg) scale(0.7, 1);
   transform: translate3d(-6px, 5.5px, 0) rotate(45deg) scale(0.7, 1);
   -webkit-transition: bottom 0.1s ease,
      -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
   transition: bottom 0.1s ease,
      -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
   transition: bottom 0.1s ease,
      transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
   transition: bottom 0.1s ease,
      transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22),
      -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.navbar .nav-item {
   font-family: panton_regular;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
   color: var(--success);
}

#main__nav {
   -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
   bakground: #01579b !important;
   z-index: 1030 !important;
}

#main__nav .navbar-nav .active>.nav-link {
   /*border-bottom: 3px solid var(--success);*/
   font-family: panton_bold;
}

#main__nav .navbar-nav .active {
   background: rgba(0, 0, 0, 0.05);
}

.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:active {
   outline: none;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-brand img {
   height: 45px !important;
}

.dropdown-menu {
   min-width: 3rem;
}









/*
|==============================================================================
| * sidebar.css 
|==============================================================================
*/
/* sidebar overlay */
.sidebar-overlay {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: hsla(0, 0%, 0%, 0.8);
   z-index: 9998;
   display: none;
}

/* whole sidebar */
.sidebar {
   position: fixed;
   overflow-x: hidden;
   top: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   width: 280px;
   height: 100vh;
   -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.35);
   box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.35);
   -webkit-transform: translateX(-100%);
   transform: translateX(-100%);
   background: var(--darkblue);
}

/* sidebar header */
.sidebar-header {
   min-height: 70px;
   width: 100%;
}




/* sidebar menu */
.sidebar-menu .navbar {
   padding: 0;
}

.sidebar-menu .nav-item {
   border: 1px solid #dee2e6;
   border-radius: 5px;
   background: #fff;
   margin: 7px 15px 0 15px;
   overflow: hidden;
}

.sidebar-menu .nav-item {
   width: 250px;
   /*border-bottom: 1px solid;
	-o-border-image: linear-gradient(to right, hsla(0,100%,0%,0),hsla(0,100%,0%,0.5),hsla(0,100%,0%,0)) 100 5% ;
	border-image: -webkit-gradient(linear, left top, right top, from(hsla(0,100%,0%,0)),color-stop(hsla(0,100%,0%,0.5)),to(hsla(0,100%,0%,0))) 100 5% ;
	border-image: linear-gradient(to right, hsla(0,100%,0%,0),hsla(0,100%,0%,0.5),hsla(0,100%,0%,0)) 100 5% ;
	*/
   ;
}

.sidebar-menu .nav-item.active {
   box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.25);
   border: none;
}

.sidebar-menu .nav-link,
.sidebar-menu .dropdown-item {
   width: 100%;
   padding: 10px 30px;
   color: rgba(0, 0, 0, 0.5);
}

/* sidebar dropdown */
.sidebar-menu .dropdown-menu {
   border: unset;
   border-radius: unset;
   padding: 0;
   margin: 0;
   background: transparent;
}

.sidebar-menu .dropdown-toggle {
   -webkit-transition: color .3s linear;
   transition: color .3s linear;
}

.sidebar-menu .dropdown-toggle.active {
   color: var(--bs-success);
   /*	transition:color .3s linear;*/
   ;
}

.sidebar-menu .dropdown-toggle::after {
   position: absolute;
   right: 20px;
   display: inline-block;
   font: normal normal normal 14px/1 FontAwesome;
   font-size: inherit;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   content: "\f078";
   border-top: 0;
   border-right: 0;
   border-bottom: 0;
   border-left: 0;
   vertical-align: 0;
   /*min-width:16px;*/
   -webkit-transform: translateY(3px);
   transform: translateY(3px);
   -webkit-transition: -webkit-transform .3s linear;
   transition: -webkit-transform .3s linear;
   transition: transform .3s linear;
   transition: transform .3s linear, -webkit-transform .3s linear;
}

.sidebar-menu .active.dropdown-toggle::after {
   -webkit-transform: rotateZ(180deg) translateY(-3px);
   transform: rotateZ(180deg) translateY(-3px);
   /*	transition: transform .3s linear;*/
   ;
}

/*.navbar .nav-link{font-family:panton_regular;}*/
.sidebar .dropdown-item {
   padding-left: 3rem;
}

/* set dropdown bg-color & color *
	.sidebar-menu .dropdown-menu *,
	.sidebar-menu .dropdown-item:hover,
	.sidebar-menu .dropdown-item:focus {
	color: #16181b;
	text-decoration: none;
	background-color: #f8f9fa;
	}
	*/

.sidebar-menu .dropdown-item.active,
.sidebar-menu .dropdown-item:active {
   color: #fff;
   text-decoration: none;
   background-color: #007bff;
}

.sidebar-menu .navbar-nav .active>.nav-link {
   /*color:rgba(0,0,0,0.9);*/
   font-family: panton_bold;
   color: var(--bs-success);
   order-left: 5px solid var(--bs-success);
}

.sidebar-social a {
   position: relative;
   display: block;
   width: 40px;
   height: 40px;
   text-align: center;
   line-height: 40px !important;
   background: #fff;
   font-size: 1.25rem;
   border-radius: 50%;
   -webkit-transition: all 0.35s;
   transition: all 0.35s;
   z-index: 1;
   margin: 0 5px;
   -webkit-box-shadow: 2px 2px 5px 2px hsla(0, 0%, 0%, 0.15);
   box-shadow: 2px 2px 5px 2px hsla(0, 0%, 0%, 0.15);
}

.sidebar-social a .fa {
   line-height: 40px !important;
}

.sidebar-social a:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
   -webkit-transform: scale(0);
   transform: scale(0);
   z-index: -1;
}

.sidebar-social a:hover {
   color: #fff;
}

.sidebar-social a:hover:before {
   -webkit-transform: scale(1);
   transform: scale(1);
}

/*facebook*/
.sidebar-social .sb-fb:before {
   background: #3b5998;
}

/* twitter */
.sidebar-social .sb-tw:before {
   background: #00acee;
}

/* instagram */
.sidebar-social .sb-insta:before {
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

/* youtube */
.sidebar-social .sb-yt:before {
   background: #fe0000;
}

.user_details {
   height: 70px;
}

user_text div {
   margin-top: -2px !important;
   margin-bottom: -2px !important;
}

.user_details td {
   white-space: nowrap;
}

.small-txt,
.user_text table td {
   font-size: .75rem;
}










/*
|==============================================================================
| * footer.css 
|==============================================================================
*/
.footer {}

.footer__social_icon {
   flex-direction: row;
   color: grey;
}

.footer__social_icon ul {
   margin: 0 5px;
   padding: 0;
   display: flex;
}

.footer__social_icon ul li {
   list-style: none;
   margin: 0 5px;
}

.footer__social_icon ul li a {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   overflow: hidden;
   border-radius: 50%;
   text-decoration: none;
   font-size: 1.25rem;
   color: #fff;
   transition: all .5s;
}

.footer__social_icon ul li a .fa {
   transition: .5s;
}

.footer__social_icon ul li a:hover {
   -webkit-mask-image: none;
   -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
   box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
}

.footer__social_icon ul li a:hover .fa {
   color: #fff;
   transform: scale(.85);
}

.footer-links a {
   margin: 2px;
   display: inline-block;
   color: var(--bs-gray);
   text-decoration: none;
   transition: .5s;
}

.footer-links a:hover {
   color: #aaa;
   text-decoration: underline;
}

.footer__links a:hover {
   color: #fff;
   font-weight: bold;
   transform: translateX(3px);
}

.copyright {
   background: rgba(0, 0, 0, .15);
}













/*
|==============================================================================
| * preloader.css 
|==============================================================================
*/

.preloader {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 9999;
   background: #fff;
   display: flex;
   filter: grayscale(100%);
   justify-content: center;
   align-items: center;
}

.preloader__img {
   box-shadow: 0 0 5px 5px #eee;
   max-width: 128px;
   opacity: .1;
   z-index: 2;
}

.preloader .rounder {
   position: fixed;
   background: transparent;
   width: 150px;
   height: 150px;
   border: 5px dotted #ddd;
   border-bottom-color: #fff;
   border-radius: 50%;
   animation: rotate 1.75s linear infinite;
}

@keyframes rotate {
   0% {
      transform: rotate(0);
   }

   100% {
      transform: rotate(360deg);
   }
}